<div class="row">        
  <div class="small-6 medium-5 large-8 columns"> 
      <div class="icon-logo">
          <img src="images/logo.png" alt="Music" class="logo"/>
      </div>        
  </div>
  <div class="small-12 medium-7 large-4 columns button-center"> 
    <p class="lead">You don't have account?</p>           
    <a class="button">REGISTER</a>
  </div>

</div>
<div class="row sign-in">
    <div class="small-6 medium-6 large-8 columns left-login">
        <div>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
            <h5>Nothing gonna change my love for you</h5>
        </div>
    </div>
   <div class="small-12 medium-6 large-4 columns right-login">
       <div class="button-center">
        <h6 class="lead"> Sign in</h6>
       </div>           
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" ng-model="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" ng-model="password" placeholder="Password">
      </div>              
      <div class="button-center">
          <a ng-click="login()" class="button">Submit</a>          
      </div>          
    </form>
  </div>
</div>       