<div class="row">
   <div class="small-12 medium-8 large-7">
        <div class="player-info">    
            <h1 class="player-h1-song"> {{song.name}} - {{song.singerName}}</h1>
            <h5 class="player-p" style="font-size: 12px;">
               <span ng-show="song.author">Author: {{song.author}}&nbsp;|&nbsp;</span>
               <span ng-show="song.kind">Kind: {{song.kind}}</span>
            </h5>
            <audio controls autoplay class="frame-music">
                <source ng-src="{{song.link}}"  webkitAllowFullScreen mozallowfullscreen allowFullScreen>        
            </audio>
        </div>
    </div>
    <div lass="small-12 medium-4 large-5">
        
    </div>
</div>
